@use '../variables' as *;

.backlog,
.todo,
.progress,
.done {
  color: $c-white;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
}

.backlog {
  background-color: rgba($c-purple, 0.8);
  border: 1px solid $c-purple;
}

.todo {
  background-color: rgba($c-yellow, 0.8);
  border: 1px solid $c-yellow;
}

.progress {
  background-color: rgba($c-green, 0.8);
  border: 1px solid $c-green;
}

.done {
  background-color: rgba($c-red, 0.8);
  border: 1px solid $c-red;
}