@use '../variables' as *;

.open,
.done,
.close {
  color: $c-white;
  font-size: 20px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 24px;
  text-align: center;
  text-transform: uppercase;
}

.open {
  background-color: rgba($c-yellow, 0.8);
  border: 1px solid $c-yellow;
}


.done {
  background-color: rgba($c-green, 0.8);
  border: 1px solid $c-green;
}

.close {
  background-color: rgba($c-red, 0.8);
  border: 1px solid $c-red;
}